body{
    background-color: pink;
}

header{
    text-align:center;
}

h1{
    color:black;
}

.doces{
    margin:10 auto;
}

img{
    width:250px;
    height:250px;
    border-radius:20px;
    border:solid 3px purple;
}