<link rel="stylesheet" href="~/css/catalogo.css" />
<body>
    <header>
        <h1>Seja bem vindo ao nosso catálogo</h1>
        <h2>Abaixo você verá nossos doces mais famosos, seus preços e suas descrições</h2>
    </header>
    <main>
        <div class="bolos">
            <h3>Bolos</h3>
            <h4>Bolo de chocolate</h4>
            <p>

            </p>
            <h4>Bolo de cenoura</h4>
            <p>

            </p>
        </div>
        <div class="docinhos">
            <h3>Docinhos</h3>
            <h4>Brigadeiro</h4>
            <p>

            </p>
            <h4>Beijinho</h4>
            <p>

            </p>
        </div>
        <div class="tortas">
            <h3>Tortas</h3>
            <h4>Torta de morango</h4>
            <p>

            </p>
            <h4>Torta de Limão</h4>
            <p>

            </p>
        </div>
        <div class="cookies">

        </div>
    </main>
</body>