<link href="~/css/principal.css" rel="stylesheet" />
<body>
    <header>
        <h1>Doçura da Vovó</h1>
        <h3>Aqui você encontra doces feitos com o amor da vovó</h3>
    </header>

    <main>
        <img src="" />
    </main>
</body>