@{
    ViewData["Title"] = "Página Inicial";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Bem vindo a nossa doceria - Cookie Dough</h1>
    </header>
</body>
