@{
    ViewData["Title"] = "Página Inicial";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Bem vindo a nossa doceria - Cookie Dough</h1>
    </header>
    <section class="Doces">
        <img src="./img/cookie.jfif" alt="Cookie rosa"/>
        <img src="./img/bolo.jpg"/>
    </section>
</body>
